In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     -------------------- ------------------- 30.7/61.0 kB 1.4 MB/s eta 0:00:01
     ---------------------------------------- 61.0/61.0 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kling\gdrive\programming\collection\env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\kling\gdrive\programming\collection\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.6/11.5 MB 20.5 MB/s eta 0:00:01
   ---------- ----------------------------- 3.1/11.5 MB 40.2 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.5 MB 51.7 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 72.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 73.1 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   -------- ------------------------------- 3.3/15.5 MB 105.4 MB/s eta 0:00:01
   ------------------ --------------------- 7.2/15.5 MB 91.8 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.5 MB 81.8 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 81.8 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 72.5 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 31.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------------------------- 345.4/345.4 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [1]:
import pandas as pd
import pygsheets

In [152]:
gc = pygsheets.authorize(service_file="./secrets/gdocs_service.json")

In [153]:
collection_sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1Vmr4Eqm3lLJK9b4B1KGpfWJXNCfodEkRtT9pdRNCGgA/edit?usp=drive_link")

In [154]:
df = collection_sheet.sheet1.get_as_df()

In [155]:
df

,id,acquired,arrived,artist,artist gender,artist residence,artist origin,title,orig title,year,bought where,city bought,country bought,in person,total (GBP),price (orig),fees (orig),orig,notes,include in web
0,1,2021-09-18,-,Rachel Kneebone,F,UK,UK,Pod,,2021,Yorkshire sculpture park shop,,UK,yes,200.00,200,,GBP,,y
1,2,2023-05-27,2023-06-07,Shigeyuki Tamba,M,Japan,Japan,White Flower Sprouting,,2023,Gion Konishi,Kyoto,Japan,yes,800.25,134000,,JPY,,y
2,3,2023-06-08,-,Shohei Yokoyama,M,Japan,Japan,Amorphous 23-12,,2023,Suntory Museum of Art shop,Tokyo,Japan,yes,287.31,49500,,JPY,glass,n
3,4,2023-06-23,2023-06-26,Hitomi Hosono,F,UK,Japan,A Tall Square Pine Tree Box,,2019,Adrian Sassoon,London,UK,yes,7600.00,7600,,GBP,,y
4,5,2023-09-30,-,Bridget Macklin,F,UK,UK,Stranded 1,,2023,Penwith Gallery,St Ives,UK,yes,235.00,235,,GBP,,y
5,6,2023-12-09,2023-12-13,Tamsyn Trevorrow,F,UK,UK,Small white Rockpool bowl,,2023?,Leach pottery,St Ives,UK,no,193.00,185,8,GBP,,y
6,7,2023-12-21,-,Helene Kirchmair,F,Austria,Austria,Kringel,,2017,Ceramic art space,Vienna,Austria,yes,694.00,800,,EUR,,y
7,8,2023-12-21,-,Helene Kirchmair,F,Austria,Austria,Würfel,,2018,Ceramic Art Space,Vienna,Austria,yes,694.00,800,,EUR,,y
8,9,2023-12-28,2024-01-03,Diane Griffin,F,UK,UK,The Seeker,,2022,Wingate's Gallery,,UK,no,650.00,650,,GBP,"""Ego Sum Terra"" collection",y
9,10,2023-12-29,2024-01-13,Paulina Gobiecka,F,Poland,Poland,Plant 1,,2023,Thrown Contemporary,,UK,no,165.00,165,,GBP,wood fired,y
10,11,2024-01-20,2024-01-29,Aram Rios,M,Spain,Spain,Plant Surrealism II,,2021,Aguas Furtadas Design,Porto,Portugal,no,113.86,120,12.5,EUR,"""Jardim Encantado"" series",y
11,12,2024-02-21,2024-03-07,Tomomi Tanaka,F,Japan,Japan,Seeding,,2021,Sokyo gallery,Kyoto,Japan,no,789.00,97000,44500,JPY,£36 taxes,y
12,13,2024-02-21,2024-02-24,Leonie Rutter,F,UK,UK,Dance II,,2024,artist's website,,UK,no,180.00,180,,GBP,,y
13,14,2024-03-03,2024-03-12,Cecil Kemperink,F,Netherlands,Netherlands,Hold me,,2016,artist's website,,Netherlands,no,241.00,225,35,EUR,"17.6 customs, 6 pieces",y
14,15,2024-03-16,,Anne Sophie Boulogne,F,France,France,Abyssal Sculpture 8,Sculpture Abysse 8,2020,artist's website,,France,no,162.00,160,29,EUR,,n

In [156]:
df.columns

Index(['id', 'acquired', 'arrived', 'artist', 'artist gender',
       'artist residence', 'artist origin', 'title', 'orig title', 'year',
       'bought where', 'city bought', 'country bought', 'in person',
       'total (GBP)', 'price (orig)', 'fees (orig)', 'orig', 'notes',
       'include in web'],
      dtype='object')

In [159]:
df = df[df["include in web"] == "y"].copy()

In [160]:
df["artist_id"] = df["artist"].str.replace(" ", "_").str.lower()

In [161]:
artists = df[["artist_id", "artist", "artist gender", "artist residence", "artist origin"]].drop_duplicates().rename(
    columns={"artist": "name", "artist gender": "gender", "artist residence": "residence", "artist origin": "origin"}
)

In [162]:
artists

           artist_id              name gender     residence        origin
0    rachel_kneebone   Rachel Kneebone      F            UK            UK
1    shigeyuki_tamba   Shigeyuki Tamba      M         Japan         Japan
3      hitomi_hosono     Hitomi Hosono      F            UK         Japan
4    bridget_macklin   Bridget Macklin      F            UK            UK
5   tamsyn_trevorrow  Tamsyn Trevorrow      F            UK            UK
6   helene_kirchmair  Helene Kirchmair      F       Austria       Austria
8      diane_griffin     Diane Griffin      F            UK            UK
9   paulina_gobiecka  Paulina Gobiecka      F        Poland        Poland
10         aram_rios         Aram Rios      M         Spain         Spain
11     tomomi_tanaka     Tomomi Tanaka      F         Japan         Japan
12     leonie_rutter     Leonie Rutter      F            UK            UK
13   cecil_kemperink   Cecil Kemperink      F  Netherlands   Netherlands

In [163]:
works = df.query("arrived != ''")[["id", "artist_id", "acquired", "artist", "title", "year", "bought where"]]

In [164]:
data = {
    "artists": artists.set_index("artist_id").to_dict(orient="index"),
    "works": works.set_index("id").to_dict(orient="index")
}

# Images

In [165]:
import requests
from googleapiclient import discovery
from httplib2 import Http
from oauth2client import client
from oauth2client import file
from oauth2client import tools
from typing import Iterator, Any
import os
import shutil


class GooglePhotos:
    def __init__(self, secret: str, secret_store: str):
        self.SCOPE = "https://www.googleapis.com/auth/photoslibrary"
        self.store = file.Storage(secret_store)
        self.credentials = self.store.get()
        if not self.credentials or self.credentials.invalid:
            self.flow = client.flow_from_clientsecrets(secret, self.SCOPE)
            self.credentials = tools.run_flow(
                self.flow,
                self.store,
                flags=tools.argparser.parse_args([]),  # type: ignore
            )
        self.photos = discovery.build(
            "photoslibrary",
            "v1",
            http=self.credentials.authorize(Http()),
            static_discovery=False,
        )

    def get_album_id(self, album_title: str) -> str:
        albums = self.photos.albums()
        albums_meta = albums.list().execute()["albums"]
        return next(a for a in albums_meta if a["title"] == album_title)["id"]

    def get_album_contents(
        self, album_id: str | None = None, album_title: str | None = None
    ) -> Iterator[dict[str, Any]]:
        if album_id is None:
            assert album_title is not None
            album_id = self.get_album_id(album_title)

        response = self.photos.mediaItems().search(body={"albumId": album_id}).execute()
        yield from response["mediaItems"]
        while "nextPageToken" in response:
            response = (
                self.photos.mediaItems()
                .search(
                    body={"albumId": album_id, "pageToken": response["nextPageToken"]}
                )
                .execute()
            )
            yield from response["mediaItems"]

    @staticmethod
    def download_item(
        base_url: str, target_width: int, target_height: int, output_path: str
    ) -> None:
        url = f"{base_url}=w{target_width}-h{target_height}"
        response = requests.get(url, stream=True)

        with open(output_path, "wb") as out_file:
            shutil.copyfileobj(response.raw, out_file)

    def download_album(
        self,
        album_title: str,
        output_folder: str,
        target_width: int,
        target_height: int,
        exclude: set[str] | None = None,
    ) -> None:
        os.makedirs(output_folder, exist_ok=True)
        for item in self.get_album_contents(album_title=album_title):
            if exclude is not None and item["filename"] in exclude:
                continue
            print(".", end="")
            output_path = os.path.join(output_folder, item["filename"])
            self.download_item(
                item["baseUrl"], target_width, target_height, output_path
            )

In [166]:
gphotos = GooglePhotos(
    "./secrets/google_photos_credentials.json", "./secrets/photos_api_storage.json"
)

In [116]:
gphotos.download_album(
    "collection web",
    "./web/data/imgs/works/thumbnails/",
    200,
    200,
)
gphotos.download_album(
    "collection web",
    "./web/data/imgs/works/full_res/",
    1500,
    1500,
)

..............................................................................................................

In [117]:
gphotos.download_album(
    "collection artists web",
    "./web/data/imgs/artists/",
    500,
    500,
)

.............

In [167]:
data["works"] = {k: v | {"imgs": []} for k, v in data["works"].items()}

In [168]:
for photo in gphotos.get_album_contents(album_title="collection web"):
    work_id = int(photo["description"].removesuffix("*"))
    if photo["description"].endswith("*"):
        data["works"][work_id]["main_img"] = photo["filename"]
    else:
        data["works"][work_id]["imgs"].append(photo["filename"])
    print(".", end="")

.......................................................

In [170]:
for photo in gphotos.get_album_contents(album_title="collection artists web"):
    artist_id = photo["description"]
    if artist_id not in data["artists"]:
        continue
    data["artists"][artist_id]["img"] = photo["filename"]
    print(".", end="")

............

In [171]:
import json

In [172]:
with open("web/data/data.json", "w") as f:
    json.dump(data, f)

In [173]:
data

{'artists': {'rachel_kneebone': {'name': 'Rachel Kneebone',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'UK',
   'img': 'DB-Rachel-Kneebone-1000.jpg'},
  'shigeyuki_tamba': {'name': 'Shigeyuki Tamba',
   'gender': 'M',
   'residence': 'Japan',
   'origin': 'Japan',
   'img': '20230527_171654-EDIT.jpg'},
  'hitomi_hosono': {'name': 'Hitomi Hosono',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'Japan',
   'img': 'Screenshot 2024-03-17 220927.png'},
  'bridget_macklin': {'name': 'Bridget Macklin',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'UK',
   'img': 'Bridget+Macklin+profile_taken+from+her+website.jpg'},
  'tamsyn_trevorrow': {'name': 'Tamsyn Trevorrow',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'UK',
   'img': 'image1.jpeg'},
  'helene_kirchmair': {'name': 'Helene Kirchmair',
   'gender': 'F',
   'residence': 'Austria',
   'origin': 'Austria',
   'img': 'helene_kirchmair.jpg'},
  'diane_griffin': {'name': 'Diane Griffin',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'UK',
   'img': 'diane_griffin.jpg'},
  'paulina_gobiecka': {'name': 'Paulina Gobiecka',
   'gender': 'F',
   'residence': 'Poland',
   'origin': 'Poland',
   'img': 'Paulina_Gobiecka.jpg'},
  'aram_rios': {'name': 'Aram Rios',
   'gender': 'M',
   'residence': 'Spain',
   'origin': 'Spain',
   'img': '1539450927047.jpg'},
  'tomomi_tanaka': {'name': 'Tomomi Tanaka',
   'gender': 'F',
   'residence': 'Japan',
   'origin': 'Japan',
   'img': 'Screenshot_20240316_224636_Chrome.jpg'},
  'leonie_rutter': {'name': 'Leonie Rutter',
   'gender': 'F',
   'residence': 'UK',
   'origin': 'UK',
   'img': 'LR+studio+pic.jpg'},
  'cecil_kemperink': {'name': 'Cecil Kemperink',
   'gender': 'F',
   'residence': 'Netherlands ',
   'origin': 'Netherlands ',
   'img': 'WHAT-Spring-2022_Kemperink_Gallery_11-666x999.jpg'}},
 'works': {1: {'artist_id': 'rachel_kneebone',
   'acquired': '2021-09-18',
   'artist': 'Rachel Kneebone',
   'title': 'Pod',
   'year': 2021,
   'bought where': 'Yorkshire sculpture park shop ',
   'imgs': ['20240316_130157.jpg', '20240316_130210.jpg'],
   'main_img': '20240316_130132~2.jpg'},
  2: {'artist_id': 'shigeyuki_tamba',
   'acquired': '2023-05-27',
   'artist': 'Shigeyuki Tamba',
   'title': 'White Flower Sprouting ',
   'year': 2023,
   'bought where': 'Gion Konishi',
   'imgs': ['20240316_130627.jpg'],
   'main_img': '20240316_130450~2.jpg'},
  4: {'artist_id': 'hitomi_hosono',
   'acquired': '2023-06-23',
   'artist': 'Hitomi Hosono',
   'title': 'A Tall Square Pine Tree Box',
   'year': 2019,
   'bought where': 'Adrian Sassoon',
   'imgs': ['20240316_130810.jpg',
    '20240316_130816.jpg',
    '20240316_130823.jpg',
    '20240316_130828.jpg',
    '20240316_130840.jpg',
    '20240316_131154.jpg',
    '20240316_131214.jpg',
    '20240316_131225.jpg',
    '20240316_131428.jpg',
    '20240316_131508.jpg',
    '20240316_131525.jpg',
    '20240316_131617.jpg',
    '20240316_131629.jpg',
    '20240316_131650.jpg',
    '20240316_131715.jpg',
    '20240316_131724.jpg',
    '20240316_131800.jpg'],
   'main_img': '20240316_131045.jpg'},
  5: {'artist_id': 'bridget_macklin',
   'acquired': '2023-09-30',
   'artist': 'Bridget Macklin',
   'title': 'Stranded 1',
   'year': 2023,
   'bought where': 'Penwith Gallery',
   'imgs': ['20231027_123658.jpg',
    '20240128_141634.jpg',
    '20240128_141642.jpg'],
   'main_img': '20231027_123608~3.jpg'},
  6: {'artist_id': 'tamsyn_trevorrow',
   'acquired': '2023-12-09',
   'artist': 'Tamsyn Trevorrow',
   'title': 'Small white Rockpool bowl',
   'year': '2023?',
   'bought where': 'Leach pottery',
   'imgs': ['20240316_125820.jpg',
    '20240316_125845.jpg',
    '20240316_125905.jpg',
    '20240316_125935.jpg',
    '20240316_130002.jpg'],
   'main_img': '20240316_125806~2.jpg'},
  7: {'artist_id': 'helene_kirchmair',
   'acquired': '2023-12-21',
   'artist': 'Helene Kirchmair',
   'title': 'Kringel',
   'year': 2017,
   'bought where': 'Ceramic art space',
   'imgs': ['20240316_132931.jpg',
    '20240316_133026.jpg',
    '20240316_133049.jpg'],
   'main_img': '20240316_132859.jpg'},
  8: {'artist_id': 'helene_kirchmair',
   'acquired': '2023-12-21',
   'artist': 'Helene Kirchmair',
   'title': 'Würfel',
   'year': 2018,
   'bought where': 'Ceramic Art Space',
   'imgs': ['20240311_230339.jpg'],
   'main_img': '20240311_230311.jpg'},
  9: {'artist_id': 'diane_griffin',
   'acquired': '2023-12-28',
   'artist': 'Diane Griffin',
   'title': 'The Seeker',
   'year': 2022,
   'bought where': "Wingate's Gallery",
   'imgs': [],
   'main_img': '20240311_230112.jpg'},
  10: {'artist_id': 'paulina_gobiecka',
   'acquired': '2023-12-29',
   'artist': 'Paulina Gobiecka',
   'title': 'Plant 1',
   'year': 2023,
   'bought where': 'Thrown Contemporary',
   'imgs': ['20240316_125019.jpg',
    '20240316_125137.jpg',
    '20240316_125351.jpg',
    '20240316_125406.jpg',
    '20240316_125427.jpg'],
   'main_img': '20240316_125320.jpg'},
  11: {'artist_id': 'aram_rios',
   'acquired': '2024-01-20',
   'artist': 'Aram Rios',
   'title': 'Plant Surrealism II',
   'year': 2021,
   'bought where': 'Aguas Furtadas Design',
   'imgs': ['20240316_124626.jpg'],
   'main_img': '20240316_124836~2.jpg'},
  12: {'artist_id': 'tomomi_tanaka',
   'acquired': '2024-02-21',
   'artist': 'Tomomi Tanaka',
   'title': 'Seeding',
   'year': 2021,
   'bought where': 'Sokyo gallery',
   'imgs': ['20240311_231233.jpg', '20240311_231624.jpg'],
   'main_img': '20240311_231300.jpg'},
  13: {'artist_id': 'leonie_rutter',
   'acquired': '2024-02-21',
   'artist': 'Leonie Rutter',
   'title': 'Dance II',
   'year': 2024,
   'bought where': "artist's website",
   'imgs': ['20240316_132542~2.jpg', '20240316_132604.jpg'],
   'main_img': '20240316_132542.jpg'},
  14: {'artist_id': 'cecil_kemperink',
   'acquired': '2024-03-03',
   'artist': 'Cecil Kemperink',
   'title': 'Hold me',
   'year': 2016,
   'bought where': "artist's website",
   'imgs': [],
   'main_img': '20240316_124254.jpg'}}}